.container{
  background: steelblue;
  color: white;
  padding: 40px;
  text-align: center;
}

@media (max-width: 600px) {
  .container{
    background: tomato;
    font-size: 14px;
  }
}

@media (min-width: 900px) {
  .container{
    background: steelblue;
    font-size: 22px;
  }
}